html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
    padding: 5%;
    background-color:  hsl(30, 38%, 92%);
  
}

.mainTwo,.text{
    height: 100vh;
    width: 50vw;
    display: grid;
    grid-area: 1/2/3/2;
    background-color:hsl(0, 0%, 100%);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
}

.text{
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 20px;
   
}

.img{border-top-left-radius: 10px;
     border-end-start-radius: 10px;}


.perfume{
    margin-top: 10%;
    color: hsl(228, 12%, 48%);
    font-family:'Montserrat',serif;
    font-weight: 500;
    font-size: 1.4rem;}

.headline{
    font-family: 'Fraunces', serif;font-weight: 700;
    font-size: 3.5rem;
    }

    .phColor{
        color: hsl(228, 12%, 48%);
        font-family:'Montserrat',serif;
        font-weight: 500;
        font-size: 1.5rem;
        line-height:40px;
    }

.inline,.price,.crossPrice{
    display: inline;
    font-family:'Fraunces', serif;
    font-weight: 700;
    flex-basis: auto;
    display: flex;
   
    
}
.price{
    
    color:  hsl(158, 36%, 37%);
    font-size: 2rem;
    margin-right: 40px;
    justify-content: flex-start;
    
}        

.crossPrice{color: hsl(228, 12%, 48%);
    text-decoration:line-through ;
    font-size: 1.5rem;
    }    

button{color: hsl(0, 0%, 100%);
    background-color: hsl(158, 36%, 37%);
    border: none;
    border-radius: 5px;
    padding: 6px 18px;
    width: 350px;
    height: 55px;
    margin: 0px 25px 25px 15px;
display: block;}

    
    button:hover{
        background-color: hsl(212, 21%, 14%);
            }  
    
.icon{margin: 10px;}            
      

    @media screen and (max-width: 630px) {
        body{
            padding: 5%;
            background-color:  hsl(30, 38%, 92%)
        }
        .mainTwo,.text{
            height: 130vh;
            width: 75vw;
           
            background-color:  hsl(0, 0%, 100%);
            border-radius: 0px;
            display: flex;
            flex-direction: column;
            font-size: small;
            text-align: start;
            /* border-color: blue;
            border-style: dashed; */
            
            
        
        }
        
        .text{
            display: flex;
            flex-direction: column;
            justify-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-left: 20px;
        /* border-color: blueviolet; */
        }
        
        .img{
             content: url("./images/image-product-mobile.jpg");
             border-top-left-radius: 10px;
             border-end-start-radius: 0px;
             border-top-right-radius: 10px;
             width:104% ;}
        
        
        .PERFUME{
            margin-top: 10%;
            color: hsl(228, 12%, 48%);
            font-family:'Montserrat',serif;
            font-weight: 500;
            font-size: 1.4rem;
            }
        
        .headline{
            font-family: 'Fraunces', serif;font-weight: 700;
            font-size: 2.8rem;
            }
        
            .phColor{
                color: hsl(228, 12%, 48%);
                font-family:'Montserrat',serif;
                font-weight: 500;
                font-size: 1.4rem;
                line-height:40px;
            }
        
        .inline,.price,.crossPrice{
            display: inline;
            font-family:'Fraunces', serif;
            font-weight: 700;
            flex-basis: auto;
            display: flex;
           
            
        }
        .price{
            
            color:  hsl(158, 36%, 37%);
            
            margin-right: 40px;
            justify-content: flex-start;
            font-size: 2rem;
        }        
        
        .crossPrice{color: hsl(228, 12%, 48%);
            text-decoration:line-through ;
            font-size: 1.5rem;
            }    
        
        button{color: hsl(0, 0%, 100%);
            background-color: hsl(158, 36%, 37%);
            border: none;
            border-radius: 5px;
            padding: 6px 18px;
            width: 420px;
            height: 55px;
            margin: 0px 25px 25px 15px;
            display: block;}
        
            
            button:hover{
                background-color: hsl(212, 21%, 14%);
                    }  
            
        .icon{margin: 10px;}            
              
                
    }
